* {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

body {
  font-family: 'Open Sans', monospace;
  overflow: hidden;
  display: flex;
  height: 100%;
}

.p5Canvas {
  order: 1;
  border: 5px solid black;
}

#infopane {
  order: 2;
  margin: 1em;
}

#controlpane {
  margin: 0;
}

fieldset {
  background: lightgray;
}

h1 {
 font-size: 32;
 margin-top: 0;
}

h2 {
  font-size: 24;
}

h3 {
 font-size: 20;
}

table {
  padding: 5px;
  border: 1px solid black;
}

th, td {
  min-width: 10em;
}

th {
  text-align: left;
}

@media only screen and (max-width: 1200px) {
  body {
    flex-direction: column;
  }
}